.el-table {
  text-align: center;
  /* /* --el-table-border-color: var(--el-border-color-lighter); */
  --el-table-border-color: #4c505b; 
  --el-table-border: 1px solid var(--el-table-border-color);
  --el-table-text-color: var(--el-text-color-regular);
  --el-table-header-text-color: var(--el-text-color-secondary);
  --el-table-row-hover-bg-color: var(--el-fill-color-light);
  --el-table-current-row-bg-color: var(--el-color-primary-light-9);
  --el-table-header-bg-color: #47479400;
  --el-table-fixed-box-shadow: var(--el-box-shadow-light);
  --el-table-bg-color: transparent;
  --el-table-tr-bg-color: transparent;
  --el-table-expanded-cell-bg-color: var(--el-fill-color-blank);
  --el-table-fixed-left-column: inset 10px 0 10px -10px rgba(0, 0, 0, 0.15);
  --el-table-fixed-right-column: inset -10px 0 10px -10px rgba(0, 0, 0, 0.15);

}
.el-table .cell {
  color:#b8b9bd

}
.el-table .el-table__cell {
  padding: 8px 0;
  min-width: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
  text-align: center;
  z-index: 1;
  border-color: black;
}

.el-container{

  height:100%
  
}



.el-message-box {

  background-color:#202124;

}
.el-message-box__content {
  color: #b8b9bd;

}

:root {
  color-scheme: light;
  --el-color-primary: #4c505b;
}

.el-button--primary {

  --el-button-hover-bg-color: #394f66;
}

.el-message-success {
  color: aquamarine;
}


.el-avatar--circle {
    border-radius: 50%;
    margin-top: 7px;

  }